<!-- ============================================================== -->
<!-- Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<div class="row page-titles">
    <div class="col-md-5 col-8 align-self-center">
        <h3 id="view-title">{{title}}</h3>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/securehome">Home</a></li>
            <li class="breadcrumb-item">Users</li>
        </ol>
    </div>
    <div class="col-md-7 col-4 align-self-center">
        <div class="d-flex m-t-10 justify-content-end">
            <div class="d-flex m-r-20 m-l-10 hidden-md-down">
                <div class="chart-text m-r-10">
                    <h6 class="m-b-0"><small>Devices</small></h6>
                    <h4 class="m-t-0 text-success">{{deviceStats.total}} total</h4></div>
            </div>
            <div class="d-flex m-r-20 m-l-10 hidden-md-down">
                <div class="chart-text m-r-10">
                    <h6 class="m-b-0"><small>Simulations</small></h6>
                    <h4 class="m-t-0 text-success-alt">{{deviceStats.simulations}} running</h4></div>
            </div>
        </div>
    </div>
</div>
<!-- ============================================================== -->
<!-- End Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<!-- Row -->
<div class="row" *ngIf="isAdminUser">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <button type="button" class="float-right btn btn-sm btn-success m-l-15" (click)="refreshData()"><i class="fa fa-refresh"></i> Refresh</button>
                <button type="button" class="float-right btn btn-sm btn-success" data-toggle="modal" data-target="#inviteModal"><i class="mdi mdi-account-plus"></i> Invite User</button>
                <!-- .modal -->
                <div class="modal fade" id="inviteModal" tabindex="-1" role="dialog" aria-labelledby="inviteModalLabel1">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="exampleModalLabel1">Invite a User</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            </div>
                            <div class="modal-body">
                                <form name="inviteForm" #f="ngForm" class="form-control-line" (ngSubmit)="inviteUser(f)" novalidate>
                                    <div [class]="(name.dirty || name.touched) ? (name.invalid ? 'form-group has-danger' :'form-group has-success-alt') : 'form-group'">
                                        <label for="name" class="form-control-label">Name:</label>
                                        <input type="text" [class]="(name.dirty || name.touched) ? (name.invalid ? 'form-control form-control-line form-control-danger' : 'form-control form-control-line form-control-success-alt') : 'form-control form-control-line'" name="name" id="name" #name="ngModel" [(ngModel)]="invite.name" required ngModel>
                                        <div *ngIf="(name.invalid && (name.dirty || name.touched)) && name.errors.required" class="form-control-feedback">
                                            <small>User's name is required.</small>
                                        </div>
                                    </div>
                                    <div [class]="(email.dirty || email.touched) ? (email.invalid ? 'form-group has-danger' :'form-group has-success-alt') : 'form-group'">
                                        <label for="email" class="form-control-label">Email Address:</label>
                                        <input type="email" [class]="(email.dirty || email.touched) ? (email.invalid ? 'form-control form-control-line form-control-danger' : 'form-control form-control-line form-control-success-alt') : 'form-control form-control-line'" name="email" id="email" #email="ngModel" required email ngModel>
                                        <div *ngIf="(email.invalid && (email.dirty || email.touched)) && email.errors.required" class="form-control-feedback">
                                            <small>User's email is required.</small>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" (click)="cancelInvite(f);">Cancel</button>
                                        <button type="submit" class="btn btn-success" >Submit</button>
                                    </div>
                                </form>
                            </div>
                            <!-- <div class="modal-footer">
                                <button type="button" class="btn btn-default" (click)="cancelInvite(f);">Cancel</button>
                                <button type="submit" class="btn btn-success" >Submit</button>
                            </div> -->
                        </div>
                    </div>
                </div>
                <!-- /.modal -->
                <h4 class="card-title">Users</h4>
                <div class="table-responsive m-t-20">
                    <table id="users-pagination" class="table stylish-table" data-page-size="10">
                        <thead>
                            <tr>
                                <th></th>
                                <th>User Id</th>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Enabled</th>
                                <th>Status</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let user of users">
                                <td><span class="round round-success"><i class="mdi mdi-account"></i></span></td>
                                <td>
                                    <h6>{{user.user_id}}</h6>
                                </td>
                                <td>{{user.name}}</td>
                                <td>{{user.email}}</td>
                                <td><span [class]="user.enabled ? 'label label-rounded label-info' : 'label label-rounded label-danger'">{{user.enabled}}</span></td>
                                <td><span [class]="user.status === 'CONFIRMED' ? 'label label-light-info' : 'label label-light-danger'">{{user.status}}</span></td>
                                <td>
                                    <button type="button" class="pull-right btn btn-sm btn-success btn-rounded" (click)="openUser(user.user_id)"><i class="mdi mdi-account-edit"></i> Review</button>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="7">
                                    <div class="text-right">
                                        <ul class="pagination pagination-split m-t-30"> </ul>
                                    </div>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Row -->
