<!-- ============================================================== -->
<!-- Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<div class="row page-titles">
    <div class="col-md-5 col-8 align-self-center">
        <h3 id="view-title">{{title}}</h3>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/securehome">Home</a></li>
            <li class="breadcrumb-item">Devices</li>
        </ol>
    </div>
    <div class="col-md-7 col-4 align-self-center">
        <div class="d-flex m-t-10 justify-content-end">
            <div class="d-flex m-r-20 m-l-10 hidden-md-down">
                <div class="chart-text m-r-10">
                    <h6 class="m-b-0"><small>Devices</small></h6>
                    <h4 class="m-t-0 text-success">{{deviceStats.total}} total</h4></div>
            </div>
            <div class="d-flex m-r-20 m-l-10 hidden-md-down">
                <div class="chart-text m-r-10">
                    <h6 class="m-b-0"><small>Simulations</small></h6>
                    <h4 class="m-t-0 text-success-alt">{{deviceStats.simulations}} running</h4></div>
            </div>
        </div>
    </div>
</div>
<!-- ============================================================== -->
<!-- End Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<!-- Row -->
<div class="row">
    <!-- Column -->
    <div class="col-lg-3 col-md-6">
        <div class="card">
            <div class="card-body">
                <div class="d-flex flex-row">
                    <div class="round round-lg align-self-center round-muted"><i class="mdi mdi-chip"></i></div>
                    <div class="m-l-10 align-self-center">
                        <h3 class="m-b-0 font-light">{{metrics.total}}</h3>
                        <h5 class="text-muted m-b-0">My Total Devices</h5></div>
                </div>
            </div>
        </div>
    </div>
    <!-- Column -->
    <!-- Column -->
    <div class="col-lg-3 col-md-6">
        <div class="card">
            <div class="card-body">
                <div class="d-flex flex-row">
                    <div class="round round-lg align-self-center round-success-alt"><i class="mdi mdi-chip"></i></div>
                    <div class="m-l-10 align-self-center">
                        <h3 class="m-b-0 font-lgiht">{{metrics.hydrated}}</h3>
                        <h5 class="text-muted m-b-0">Simulating</h5></div>
                </div>
            </div>
        </div>
    </div>
    <!-- Column -->
    <!-- Column -->
    <div class="col-lg-3 col-md-6">
        <div class="card">
            <div class="card-body">
                <div class="d-flex flex-row">
                    <div class="round round-lg align-self-center round-warning"><i class="mdi mdi-chip"></i></div>
                    <div class="m-l-10 align-self-center">
                        <h3 class="m-b-0 font-lgiht">{{metrics.provisioning}}</h3>
                        <h5 class="text-muted m-b-0">Provisioning</h5></div>
                </div>
            </div>
        </div>
    </div>
    <!-- Column -->
    <!-- Column -->
    <div class="col-lg-3 col-md-6">
        <div class="card">
            <div class="card-body">
                <div class="d-flex flex-row">
                    <div class="round round-lg align-self-center round-danger"><i class="mdi mdi-chip"></i></div>
                    <div class="m-l-10 align-self-center">
                        <h3 class="m-b-0 font-lgiht">{{metrics.sleeping}}</h3>
                        <h5 class="text-muted m-b-0">Sleeping</h5></div>
                </div>
            </div>
        </div>
    </div>
    <!-- Column -->
</div>
<!-- Row -->
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <button type="button" class="float-right btn btn-sm btn-success m-l-15" (click)="refreshData()"><i class="fa fa-refresh"></i> Refresh</button>
                <h4 class="card-title">Devices</h4>
                <div class="table-responsive m-t-20">
                    <table id="devices-pagination" class="table stylish-table" style="text-transform:uppercase;" data-paging-limit="10">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Device</th>
                                <th class="text-right">Stage</th>
                                <th class="text-right">Simulations</th>
                                <th class="text-right">Created</th>
                                <th class="text-right">Last Simulation</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let device of devices">
                                <td>
                                    <!-- <span [class]="device.stage === 'running' ? 'round round-success-alt' : (device.stage === 'provisioning' ? 'round round-warning' : 'round round-danger')"> -->
                                    <span class="round round-light-grey">
                                        <i class="mdi mdi-chip text-normal"></i>
                                        <div [class]="device.stage === 'hydrated' ? 'notify device success' : (device.stage === 'provisioning' ? 'notify device warning' : 'notify device error')"> <span *ngIf="device.stage !== 'sleeping'" class="heartbit"></span> <span class="point"></span> </div>
                                    </span>
                                </td>
                                <td>
                                    <h6>{{device.id}}</h6><small class="text-muted">{{device.category}} ({{device.subCategory}})</small>
                                </td>
                                <!-- <td><span [class]="user.status === 'CONFIRMED' ? 'label label-light-info' : 'label label-light-danger'">{{user.status}}</span></td> -->
                                <td class="text-right">
                                    <span [class]="device.stage === 'hydrated' ? 'label label-light-success-alt' : (device.stage === 'provisioning' ? 'label label-light-warning' : 'label label-light-danger')">{{device.stage === 'hydrated' ? 'running' : device.stage}}</span>
                                </td>
                                <td class="text-right"><span class="label label-success">{{device.runs}}</span></td>
                                <td class="text-right">{{formatDate(device.createdAt)}}</td>
                                <td class="text-right">{{formatDate(device.lastRunAt)}}</td>
                                <td>
                                    <button type="button" class="pull-right btn btn-sm btn-success btn-rounded" (click)="openDevice(device)"><i class="mdi mdi-information-outline"></i> View</button>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="7">
                                    <div class="text-right">
                                        <div class="pull-right">
                                            <button type="button" [class]="pages.current === 0 ? 'btn btn-sm btn-default disabled' : 'btn btn-sm btn-default'" (click)="previousPage()" [disabled]="pages.current === 1"><i class="mdi mdi-chevron-left"></i></button>
                                            <span class="m-l-10 m-r-10">Page {{pages.current}} of {{pages.total}}</span>
                                            <button type="button" [class]="pages.current === (pages.total - 1) ? 'btn btn-sm btn-default disabled' : 'btn btn-sm btn-default'" (click)="nextPage()" [disabled]="pages.current === pages.total"><i class="mdi mdi-chevron-right"></i></button>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Row -->
