<!-- ============================================================== -->
<!-- Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<div class="row page-titles">
    <div class="col-md-5 col-8 align-self-center">
        <h3 id="view-title">{{title}}</h3>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/securehome">Home</a></li>
            <li class="breadcrumb-item"><a href="/securehome/types">Device Types</a></li>
            <li class="breadcrumb-item active">{{typeId}}</li>
        </ol>
    </div>
    <div class="col-md-7 col-4 align-self-center">
        <div class="d-flex m-t-10 justify-content-end">
            <div class="d-flex m-r-20 m-l-10 hidden-md-down">
                <div class="chart-text m-r-10">
                    <h6 class="m-b-0"><small>Devices</small></h6>
                    <h4 class="m-t-0 text-success">{{deviceStats.total}} total</h4></div>
            </div>
            <div class="d-flex m-r-20 m-l-10 hidden-md-down">
                <div class="chart-text m-r-10">
                    <h6 class="m-b-0"><small>Simulations</small></h6>
                    <h4 class="m-t-0 text-success-alt">{{deviceStats.simulations}} running</h4></div>
            </div>
        </div>
    </div>
</div>
<!-- ============================================================== -->
<!-- End Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<!-- Row -->
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Device Type Definition</h4>
                <h6 class="card-subtitle">Customize how device data of this customized type is sent to AWS IoT.</h6>
                <form class="fm-t-40">
                    <div class="form-group">
                        <label>Device Type Name</label>
                        <input type="text" class="form-control form-control-line" name="typename" id="typename" #typename="ngModel" [(ngModel)]="dtype.name" required ngModel [readonly]="this.typeId !== 'new'" />
                        <div class="form-control-feedback">
                            <small>The common name of the device type.</small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Data Topic</label>
                        <input type="text" class="form-control form-control-line" name="topic" id="topic" #topic="ngModel" [(ngModel)]="dtype.spec.topic" required ngModel />
                        <div class="form-control-feedback">
                            <small>The topic where individual sensor data is sent.</small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Data Transmision Duration</label>
                        <input type="number" class="form-control form-control-line" onkeypress='return event.charCode >= 48 && event.charCode <= 57' name="duration" id="duration" #duration="ngModel" [(ngModel)]="dtype.spec.duration" required ngModel />
                        <div class="form-control-feedback">
                            <small>How long the device will simulate sending data to the defined data topic (milliseconds) [must be >= 60000].</small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Data Transmision Interval</label>
                        <input type="number" class="form-control form-control-line" onkeypress='return event.charCode >= 48 && event.charCode <= 57' name="interval" id="interval" #interval="ngModel" [(ngModel)]="dtype.spec.interval" required ngModel />
                        <div class="form-control-feedback">
                            <small>How often devices will send data during a simulation (milliseconds) [must be >= 1000].</small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label style='margin-bottom:1px;'>Message Payload</label>
                        <div class="form-control-feedback">
                            <small>Define the message payload that will be simulated for the device.</small>
                        </div>
                        <!-- .modal -->
                        <div class="modal fade" id="attributeModal" tabindex="-1" role="dialog" aria-labelledby="attributeModalLabel1">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title" id="exampleModalLabel1">Message Attribute</h4>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    </div>
                                    <div class="modal-body">
                                        <form name="attributeForm" #f="ngForm" class="form-control-line" (ngSubmit)="addAttribute(f.value)" novalidate>
                                            <div [class]="(name.dirty || name.touched) ? (name.invalid ? 'form-group has-danger' :'form-group has-success-alt') : 'form-group'">
                                                <label for="name" class="form-control-label">Attribute name:</label>
                                                <input type="text" [class]="(name.dirty || name.touched) ? (name.invalid ? 'form-control form-control-line form-control-danger' : 'form-control form-control-line form-control-success-alt') : 'form-control form-control-line'" name="name" id="name" #name="ngModel" [(ngModel)]="attribute.name" required ngModel>
                                                <div *ngIf="!((name.invalid && (name.dirty || name.touched)) && name.errors.required)" class="form-control-feedback">
                                                    <small>Name of the message attribute.</small>
                                                </div>
                                                <div *ngIf="(name.invalid && (name.dirty || name.touched)) && name.errors.required" class="form-control-feedback">
                                                    <small>Message attribute name is required.</small>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="type" class="form-control-label">Attribute data type:</label>
                                                <select class="custom-select col-12" name="type" id="type" #type="ngModel" [(ngModel)]="attribute.type" required ngModel>
                                                    <option value="id">DEVICE ID</option>
                                                    <option value="boolean">BOOLEAN</option>
                                                    <option value="float">FLOAT</option>
                                                    <option value="int">INTEGER</option>
                                                    <option value="location">LOCATION</option>
                                                    <option value="string">STRING</option>
                                                    <option value="uuid">UNIQUE IDENTIFIER</option>
                                                    <option value="shortid">UNIQUE SHORT IDENTIFIER</option>
                                                    <option value="timestamp">UTC TIMESTAMP</option>
                                                    <option value="pickOne">PICK ONE FROM ARRAY</option>
                                                </select>
                                                <div class="form-control-feedback">
                                                    <small>Data type of the message attribute.</small>
                                                </div>
                                            </div>
                                            <div *ngIf="attribute.type === 'location'" class="form-group">
                                                <label for="smin" class="form-control-label">Center position latitude:</label>
                                                <input type="number" class="form-control form-control-line" name="lat" id="lat" #lat="ngModel" [(ngModel)]="attribute.lat" required ngModel>
                                                <div class="form-control-feedback">
                                                    <small>The latitude of the center position for the random coordinates to be generated.</small>
                                                </div>
                                            </div>
                                            <div *ngIf="attribute.type === 'location'" class="form-group">
                                                <label for="smax" class="form-control-label">Center position longitude:</label>
                                                <input type="number" class="form-control form-control-line" name="long" id="long" #long="ngModel" [(ngModel)]="attribute.long" required ngModel>
                                                <div class="form-control-feedback">
                                                    <small>The longitude of the center position for the random coordinates to be generated.</small>
                                                </div>
                                            </div>
                                            <div *ngIf="attribute.type === 'location'" class="form-group">
                                                <label for="smin" class="form-control-label">Radius:</label>
                                                <input type="number" class="form-control form-control-line" onkeypress='return event.charCode >= 48 && event.charCode <= 57' name="radius" id="radius" #radius="ngModel" [(ngModel)]="attribute.radius" required ngModel>
                                                <div class="form-control-feedback">
                                                    <small>The radius from the center position for the random coordinates to be generated.</small>
                                                </div>
                                            </div>
                                            <div *ngIf="attribute.type === 'pickOne'" class="form-group">
                                                <label for="smin" class="form-control-label">Array:</label>
                                                <input type="text" class="form-control form-control-line" name="arr" id="arr" #arr="ngModel" [(ngModel)]="attribute.arr" required ngModel>
                                                <div class="form-control-feedback">
                                                    <small>The array of values from which one value is randomly picked. [comma separated values]</small>
                                                </div>
                                            </div>
                                            <div *ngIf="attribute.type === 'string'" class="form-group">
                                                <label for="smin" class="form-control-label">String minimum length:</label>
                                                <input type="number" class="form-control form-control-line" onkeypress='return event.charCode >= 48 && event.charCode <= 57' name="smin" id="smin" #smin="ngModel" [(ngModel)]="attribute.smin" required ngModel>
                                                <div class="form-control-feedback">
                                                    <small>The minimum length of the random string generated.</small>
                                                </div>
                                            </div>
                                            <div *ngIf="attribute.type === 'string'" class="form-group">
                                                <label for="smax" class="form-control-label">String maximum length:</label>
                                                <input type="number" class="form-control form-control-line" onkeypress='return event.charCode >= 48 && event.charCode <= 57' name="smax" id="smax" #smax="ngModel" [(ngModel)]="attribute.smax" required ngModel>
                                                <div class="form-control-feedback">
                                                    <small>The maximum length of the random string generated.</small>
                                                </div>
                                            </div>
                                            <div *ngIf="attribute.type === 'boolean'" class="form-group">
                                                <label for="bmin" class="form-control-label">Boolean minimum:</label>
                                                <input type="number" class="form-control form-control-line" onkeypress='return event.charCode >= 48 && event.charCode <= 57' name="bmin" id="bmin" #bmin="ngModel" [(ngModel)]="attribute.bmin" required ngModel>
                                                <div class="form-control-feedback">
                                                    <small>The minimum value range for random boolean generated.</small>
                                                </div>
                                            </div>
                                            <div *ngIf="attribute.type === 'boolean'" class="form-group">
                                                <label for="bmax" class="form-control-label">Boolean maximum:</label>
                                                <input type="number" class="form-control form-control-line" onkeypress='return event.charCode >= 48 && event.charCode <= 57' name="bmax" id="bmax" #bmax="ngModel" [(ngModel)]="attribute.bmax" required ngModel>
                                                <div class="form-control-feedback">
                                                    <small>The maximum value range for random boolean generated.</small>
                                                </div>
                                            </div>
                                            <div *ngIf="attribute.type === 'boolean'" class="form-group">
                                                <label for="bseed" class="form-control-label">Boolean seed:</label>
                                                <input type="number" class="form-control form-control-line" onkeypress='return event.charCode >= 48 && event.charCode <= 57' name="bseed" id="bseed" #bseed="ngModel" [(ngModel)]="attribute.bseed" required ngModel>
                                                <div class="form-control-feedback">
                                                    <small>The seed value for random boolean generated.</small>
                                                </div>
                                            </div>
                                            <div *ngIf="attribute.type === 'int'" class="form-group">
                                                <label for="intmin" class="form-control-label">Minimum value:</label>
                                                <input type="number" class="form-control form-control-line" name="min" id="min" #min="ngModel" [(ngModel)]="attribute.min" required ngModel>
                                                <div class="form-control-feedback">
                                                    <small>The minimum value of the random integer generated.</small>
                                                </div>
                                            </div>
                                            <div *ngIf="attribute.type === 'int'" class="form-group">
                                                <label for="intmax" class="form-control-label">Maximum value:</label>
                                                <input type="number" class="form-control form-control-line" name="max" id="max" #max="ngModel" [(ngModel)]="attribute.max" required ngModel>
                                                <div class="form-control-feedback">
                                                    <small>The maximum value of the random integer generated.</small>
                                                </div>
                                            </div>
                                            <div *ngIf="attribute.type === 'shortid' || attribute.type === 'string' || attribute.type === 'uuid'" class="form-group">
                                                <label for="static" class="form-control-label">Static:</label>
                                                <select class="custom-select col-12" name="static" id="static" #static="ngModel" [(ngModel)]="attribute.static" required ngModel>
                                                    <option value="true">true</option>
                                                    <option value="false">false</option>
                                                </select>
                                                <div class="form-control-feedback">
                                                    <small>Is the data value generated only once per simulation?</small>
                                                </div>
                                            </div>
                                            <div *ngIf="attribute.type === 'timestamp'" class="form-group">
                                                <label for="tsformat" class="form-control-label">Timestamp Format:</label>
                                                <select class="custom-select col-12" name="tsformat" id="tsformat" #tsformat="ngModel" [(ngModel)]="attribute.tsformat" required ngModel>
                                                    <option value="default">Default (YYYY-MM-DDTHH:mm:ss)</option>
                                                    <option value="unix">Unix</option>
                                                </select>
                                                <div class="form-control-feedback">
                                                    <small>The format of timestamp send in the payload.</small>
                                                </div>
                                            </div>
                                            <div *ngIf="attribute.type === 'float'" class="form-group">
                                                <label for="precision" class="form-control-label">Float precision:</label>
                                                <input type="number" class="form-control form-control-line" onkeypress='return event.charCode >= 48 && event.charCode <= 57' name="precision" id="precision" #precision="ngModel" [(ngModel)]="attribute.precision" required ngModel>
                                                <div class="form-control-feedback">
                                                    <small>The precision of the float value.</small>
                                                </div>
                                            </div>
                                            <div *ngIf="attribute.type === 'float'" class="form-group">
                                                <label for="imin" class="form-control-label">Integer minimum value:</label>
                                                <input type="number" class="form-control form-control-line" name="imin" id="imin" #imin="ngModel" [(ngModel)]="attribute.imin" required ngModel>
                                                <div class="form-control-feedback">
                                                    <small>Minimum value for the integer precision.</small>
                                                </div>
                                            </div>
                                            <div *ngIf="attribute.type === 'float'" class="form-group">
                                                <label for="imax" class="form-control-label">Integer maximum value:</label>
                                                <input type="number" class="form-control form-control-line" name="imax" id="imax" #dmax="ngModel" [(ngModel)]="attribute.imax" required ngModel>
                                                <div class="form-control-feedback">
                                                    <small>Maximum value for the integer precision.</small>
                                                </div>
                                            </div>
                                            <div *ngIf="attribute.type === 'float'" class="form-group">
                                                <label for="dmin" class="form-control-label">Decimal precision minimum value:</label>
                                                <input type="number" class="form-control form-control-line" onkeypress='return event.charCode >= 48 && event.charCode <= 57' name="dmin" id="dmin" #dmin="ngModel" [(ngModel)]="attribute.dmin" required ngModel>
                                                <div class="form-control-feedback">
                                                    <small>Minimum value for the decimal precision.</small>
                                                </div>
                                            </div>
                                            <div *ngIf="attribute.type === 'float'" class="form-group">
                                                <label for="dmax" class="form-control-label">Decimal precision maximum value:</label>
                                                <input type="number" class="form-control form-control-line" onkeypress='return event.charCode >= 48 && event.charCode <= 57' name="dmax" id="dmax" #dmax="ngModel" [(ngModel)]="attribute.dmax" required ngModel>
                                                <div class="form-control-feedback">
                                                    <small>Maximum value for the decimal precision.</small>
                                                </div>
                                            </div>
                                            <div *ngIf="attribute.type !== 'rstring' && attribute.type !== 'location' && attribute.type !== 'pickOne' && attribute.type !== 'id'" class="form-group">
                                                <label for="default" class="form-control-label">Default Value (Optional):</label>
                                                <input type="text" class="form-control form-control-line" name="default" id="default" #default="ngModel" [(ngModel)]="attribute.default" required ngModel>
                                                <div class="form-control-feedback">
                                                    <small>The default value will consistently be the value sent with this attribute.</small>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" (click)="cancelAddAttribute(f);">Cancel</button>
                                                <button type="submit" class="btn btn-success" >Submit</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- .modal -->
                        <div class="table-responsive m-t-20">
                            <table id="message-tbl" class="table stylish-table" style="text-transform:uppercase;">
                                <thead>
                                    <tr>
                                        <th>Message Attribute</th>
                                        <th>Data Type</th>
                                        <th>Static Value</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of dtype.spec.payload">
                                        <td>
                                            <h6>{{item.name}}</h6>
                                        </td>
                                        <td>{{item.type}}</td>
                                        <td>{{item.static}}</td>
                                        <td>
                                            <div class="pull-right" role="group">
                                                <button type="button" class="btn btn-success btn-sm m-r-15" data-toggle="tooltip" title="View Attribute" (click)="viewSchemaAttribute(item._id_)"><i class="mdi mdi-information"></i> View Config</button>
                                                <button type="button" class="btn btn-danger btn-sm m-r-15" data-toggle="tooltip" title="Delete Attribute" (click)="removeSchemaAttribute(item._id_)"><i class="mdi mdi-pencil"></i> Remove</button>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr *ngIf="dtype.spec.payload.length === 0">
                                        <td colspan="4">
                                            <h6>No message payload attributes have been defined.</h6>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <button type="button" class="btn btn-success btn-sm m-t-20" (click)="addSchemaAttribute()" >Add Attribute</button>
                    </div>
                    <div>
                        <label>Sample Message Payload</label>
                    </div>
                    <pre style="font-size: 14px;">{{getDataSample()}}</pre>
                    <div class="m-t-20 m-b-20">
                        <button type="button" class="btn btn-success-alt btn-rounded m-r-15" (click)="saveDeviceType()">Save</button>
                        <button type="button" class="btn btn-secondary btn-rounded" (click)="cancel()">Cancel</button>
                    </div>
                    <div *ngIf="hasError" class="alert alert-danger alert-rounded"> <i class="mdi mdi-exclamation"></i> {{errorMsg}}</div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Row -->
