<!-- ============================================================== -->
<!-- Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<div class="row page-titles">
    <div class="col-md-5 col-8 align-self-center">
        <h3 id="view-title">{{title}}</h3>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/securehome">Home</a></li>
            <li class="breadcrumb-item">Devices</li>
        </ol>
    </div>
    <div class="col-md-7 col-4 align-self-center">
        <div class="d-flex m-t-10 justify-content-end">
            <div class="d-flex m-r-20 m-l-10 hidden-md-down">
                <div class="chart-text m-r-10">
                    <h6 class="m-b-0"><small>Devices</small></h6>
                    <h4 class="m-t-0 text-success">{{deviceStats.total}} total</h4></div>
            </div>
            <div class="d-flex m-r-20 m-l-10 hidden-md-down">
                <div class="chart-text m-r-10">
                    <h6 class="m-b-0"><small>Simulations</small></h6>
                    <h4 class="m-t-0 text-success-alt">{{deviceStats.simulations}} running</h4></div>
            </div>
        </div>
    </div>
</div>
<!-- ============================================================== -->
<!-- End Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<!-- Row -->
<!-- Row -->
<div class="row">
    <!-- Column -->
    <div class="col-lg-3 col-md-6">
        <div class="card">
            <div class="card-body">
                <div class="d-flex flex-row">
                    <div class="round round-lg align-self-center round-muted"><i class="mdi mdi-chip"></i></div>
                    <div class="m-l-10 align-self-center">
                        <h3 class="m-b-0 font-light">{{metrics.total}}</h3>
                        <h5 class="text-muted m-b-0">Total Widgets</h5></div>
                </div>
            </div>
        </div>
    </div>
    <!-- Column -->
    <!-- Column -->
    <div class="col-lg-3 col-md-6">
        <div class="card">
            <div class="card-body">
                <div class="d-flex flex-row">
                    <div class="round round-lg align-self-center round-success-alt"><i class="mdi mdi-chip"></i></div>
                    <div class="m-l-10 align-self-center">
                        <h3 class="m-b-0 font-lgiht">{{metrics.hydrated}}</h3>
                        <h5 class="text-muted m-b-0">Simulating</h5></div>
                </div>
            </div>
        </div>
    </div>
    <!-- Column -->
    <!-- Column -->
    <div class="col-lg-3 col-md-6">
        <div class="card">
            <div class="card-body">
                <div class="d-flex flex-row">
                    <div class="round round-lg align-self-center round-warning"><i class="mdi mdi-chip"></i></div>
                    <div class="m-l-10 align-self-center">
                        <h3 class="m-b-0 font-lgiht">{{metrics.provisioning}}</h3>
                        <h5 class="text-muted m-b-0">Provisioning</h5></div>
                </div>
            </div>
        </div>
    </div>
    <!-- Column -->
    <!-- Column -->
    <div class="col-lg-3 col-md-6">
        <div class="card">
            <div class="card-body">
                <div class="d-flex flex-row">
                    <div class="round round-lg align-self-center round-danger"><i class="mdi mdi-chip"></i></div>
                    <div class="m-l-10 align-self-center">
                        <h3 class="m-b-0 font-lgiht">{{metrics.sleeping}}</h3>
                        <h5 class="text-muted m-b-0">Sleeping</h5></div>
                </div>
            </div>
        </div>
    </div>
    <!-- Column -->
</div>
<!-- Row -->
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <button type="button" class="float-right btn btn-sm btn-success m-l-15" (click)="refreshData()"><i class="fa fa-refresh"></i> Refresh</button>
                <button type="button" class="float-right btn btn-sm btn-success" (click)="openWidgetModal()"><i class="mdi mdi-plus"></i> Add Widget</button>
                <!-- .modal -->
                <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel1">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="addModalLabel1">Create a widget</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            </div>
                            <div class="modal-body">
                                <form name="addForm" #f="ngForm" class="form-control-line">
                                    <div class="form-group">
                                        <label for="name" class="form-control-label">Device Type:</label>
                                        <select class="form-control" name="type" id="type" required ngModel #type="ngModel" [(ngModel)]="widgetRequest.typeId">
                                            <option *ngFor="let t of deviceTypes" [value]="t.typeId"> {{t.name}}</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="imax" class="form-control-label">Number of widgets:</label>
                                        <input type="number" class="form-control form-control-line" onkeypress='return event.charCode >= 48 && event.charCode <= 57' name="count" id="count" required ngModel #count="ngModel" [(ngModel)]="widgetRequest.count">
                                        <div class="form-control-feedback">
                                            <small>Number of widgets to create based on the device type. Up to 25 devices.</small>
                                        </div>
                                    </div>
                                    <div class="alert alert-danger" *ngIf="provisionCountError">
                                        <h3 class="text-danger"><i class="fa fa-exclamation-circle"></i> Oops!</h3> Your number of widgets to create must be <= 25.
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" (click)="cancelAdd();">Cancel</button>
                                <button type="submit" class="btn btn-success" (click)="addWidget(widgetRequest);">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.modal -->
                <h4 class="card-title">Widgets</h4>
                <div class="table-responsive m-t-20">
                    <table id="devices-pagination" class="table stylish-table" style="text-transform:uppercase;" data-paging-limit="10">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Device</th>
                                <th class="text-right">Stage</th>
                                <th class="text-right">Simulations</th>
                                <th class="text-right">Last Simulation</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let device of devices">
                                <td>
                                    <!-- <span [class]="device.stage === 'running' ? 'round round-success-alt' : (device.stage === 'provisioning' ? 'round round-warning' : 'round round-danger')"> -->
                                    <span class="round round-light-grey">
                                        <i class="mdi mdi-chip text-normal"></i>
                                        <div [class]="device.stage === 'hydrated' ? 'notify device success' : (device.stage === 'provisioning' ? 'notify device warning' : 'notify device error')"> <span *ngIf="device.stage !== 'sleeping'" class="heartbit"></span> <span class="point"></span> </div>
                                    </span>
                                </td>
                                <td>
                                    <h6>{{device.subCategory}}</h6><small class="text-muted" style="text-transform:none;">{{device.id}}</small>
                                </td>
                                <!-- <td><span [class]="user.status === 'CONFIRMED' ? 'label label-light-info' : 'label label-light-danger'">{{user.status}}</span></td> -->
                                <td class="text-right">
                                    <span [class]="device.stage === 'hydrated' ? 'label label-light-success-alt' : (device.stage === 'provisioning' ? 'label label-light-warning' : 'label label-light-danger')">{{device.stage === 'hydrated' ? 'running' : device.stage}}</span>
                                </td>
                                <td class="text-right"><span class="label label-success">{{device.runs}}</span></td>
                                <td class="text-right">{{formatDate(device.endedAt)}}</td>
                                <td>
                                    <!-- <button type="button" class="pull-right btn btn-sm btn-success btn-rounded" (click)="openDevice(device.deviceId)"><i class="mdi mdi-information-outline"></i> View</button> -->
                                    <div class="pull-right" role="group" aria-label="Basic example">
                                        <button type="button" class="btn btn-success btn-sm" data-toggle="tooltip" title="View Device" data-placement="top" (click)="openDevice(device.id)"><i class="mdi mdi-information"></i> View</button>
                                        <button type="button" class="btn btn-success btn-sm" data-toggle="tooltip" title="Start Simulation" *ngIf="device.stage !== 'hydrated' && device.stage !== 'provisioning'"  (click)="startDevice(device.id)"><i class="mdi mdi-play"></i> Start</button>
                                        <!-- <button type="button" class="btn btn-success btn-sm" data-toggle="tooltip" title="Stop Simulation" *ngIf="device.stage !== 'sleeping'" (click)="stopDevice(device.id)"><i class="mdi mdi-stop"></i> Stop</button> -->
                                        <button type="button" class="btn btn-danger btn-sm" data-toggle="tooltip" title="Delete Widget" *ngIf="device.stage !== 'hydrated'"  (click)="deleteDevice(device.id)"><i class="mdi mdi-delete-circle"></i> Delete</button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="7">
                                    <div class="text-right">
                                        <div class="pull-right">
                                            <button type="button" [class]="pages.current === 0 ? 'btn btn-sm btn-default disabled' : 'btn btn-sm btn-default'" (click)="previousPage()" [disabled]="pages.current === 1"><i class="mdi mdi-chevron-left"></i></button>
                                            <span class="m-l-10 m-r-10">Page {{pages.current}} of {{pages.total}}</span>
                                            <button type="button" [class]="pages.current === (pages.total - 1) ? 'btn btn-sm btn-default disabled' : 'btn btn-sm btn-default'" (click)="nextPage()" [disabled]="pages.current === pages.total"><i class="mdi mdi-chevron-right"></i></button>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Row -->
