<!-- ============================================================== -->
<!-- Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<div class="row page-titles">
    <div class="col-md-5 col-8 align-self-center">
        <h3 id="view-title">{{title}}</h3>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/securehome">Home</a></li>
            <li class="breadcrumb-item"><a href="/securehome/general">Widgets</a></li>
            <li class="breadcrumb-item active">{{deviceId}}</li>
        </ol>
    </div>
    <div class="col-md-7 col-4 align-self-center">
        <div class="d-flex m-t-10 justify-content-end">
            <div class="d-flex m-r-20 m-l-10 hidden-md-down">
                <div class="chart-text m-r-10">
                    <h6 class="m-b-0"><small>Devices</small></h6>
                    <h4 class="m-t-0 text-success">{{deviceStats.total}} total</h4></div>
            </div>
            <div class="d-flex m-r-20 m-l-10 hidden-md-down">
                <div class="chart-text m-r-10">
                    <h6 class="m-b-0"><small>Simulations</small></h6>
                    <h4 class="m-t-0 text-success-alt">{{deviceStats.simulations}} running</h4></div>
            </div>
        </div>
    </div>
</div>
<!-- ============================================================== -->
<!-- End Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<!-- Row -->
<!-- Row -->
<div class="row">
    <div class="col-lg-12">
        <div class="card card-outline-info">
            <div class="card-body">
                <div class="pull-right" role="group">
                    <button type="button" class="btn btn-success btn-sm" data-toggle="tooltip" title="Start Simulation" *ngIf="device.stage === 'sleeping'"  (click)="startDevice()"><i class="mdi mdi-play"></i> Start</button>
                    <button type="button" class="btn btn-success btn-sm" data-toggle="tooltip" title="Stop Simulation" *ngIf="device.stage === 'hydrated'" (click)="stopDevice()"><i class="mdi mdi-stop"></i> Stop</button>
                    <button type="button" class="btn btn-danger btn-sm" data-toggle="tooltip" title="Delete Widget" *ngIf="device.stage === 'sleeping'"  (click)="deleteDevice()"><i class="mdi mdi-delete-circle"></i> Delete</button>
                    <button type="button" class="btn btn-success btn-sm" data-toggle="tooltip" title="Refresh" (click)="refreshData()"><i class="fa fa-refresh"></i> Refresh</button>
                </div>
                <form class="form-horizontal" role="form">
                    <div class="form-body">
                        <h3 class="box-title">Device Details</h3>
                        <hr class="m-t-0 m-b-40">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="control-label text-right col-md-3">Device Type:</label>
                                    <div class="col-md-9">
                                        <p class="form-control-static"><a href="/securehome/types/{{device.typeId}}">{{device.subCategory}} <i class="mdi mdi-link-variant"></i></a></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="control-label text-right col-md-3">Simulations:</label>
                                    <div class="col-md-9">
                                        <p class="form-control-static">{{device.runs}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="control-label text-right col-md-3">Status:</label>
                                    <div class="col-md-9">
                                        <p class="form-control-static"><span [class]="device.stage === 'hydrated' ? 'label label-light-success-alt' : (device.stage === 'provisioning' ? 'label label-light-primary' : (device.stage === 'stopping' ? 'label label-light-warning' : 'label label-light-danger'))">{{device.stage === 'hydrated' ? 'running' : device.stage}}</span></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="control-label text-right col-md-3">Last Sim:</label>
                                    <div class="col-md-9">
                                        <p class="form-control-static">{{formatDate(device.endedAt)}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="control-label text-right col-md-3">Created At:</label>
                                    <div class="col-md-9">
                                        <p class="form-control-static">{{formatDate(device.createdAt)}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="control-label text-right col-md-3">Last Updated:</label>
                                    <div class="col-md-9">
                                        <p class="form-control-static">{{formatDate(device.updatedAt)}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Row -->
<!-- Row -->
<div class="row">
    <div *ngIf="subscribeMessage !== ''" class="col-lg-12" style="height:500px;">
        <div class="alert alert-info">
            <h3 class="text-info"><i class="fa fa-exclamation-circle"></i> Topic Subscription</h3> {{subscribeMessage}}
        </div>
    </div>
    <div *ngIf="subscribeMessage === ''" class="col-lg-12">
        <div class="clearfix" style="margin-bottom:10px;">
            <div class="pull-right" role="group">
                <button type="button" class="btn btn-success btn-sm" data-toggle="tooltip" title="Clear Messages" *ngIf="messages.length > 0" (click)="clearMessages()">Clear</button>
            </div>
        </div>
        <div style="overflow:auto; height:500px;">
            <div class="row" *ngFor="let m of messages">
                <div class="col-lg-12">
                    <div style="background-color: #fff;">
                        <div class="card-body" style="display: flex;">
                            <h4 class="card-title" style="max-width: 400px; white-space: no-wrap; text-overflow: ellipsis; overflow: hidden; font-size: 18px; flex-grow: 1; margin-bottom: 0px;">{{m.topic}}</h4><span style="font-size: 14px; flex-grow: 4;">{{m.timestamp}}</span>
                        </div>
                    </div>
                    <div style="background-color: #eee;">
                        <pre style="margin-left: 15px; margin-right: 15px; color: #002630; margin-bottom:0px; padding: 10px; font-family: 'Source Code Pro', monospace; font-weight: 400;">{{strinifyContent(m.content)}}</pre>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Row -->
