<!-- ============================================================== -->
<!-- Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<div class="row page-titles">
    <div class="col-md-5 col-8 align-self-center">
        <h3 id="view-title">{{title}}</h3>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/securehome">Home</a></li>
            <li class="breadcrumb-item active">Dashboard</li>
        </ol>
    </div>
    <div class="col-md-7 col-4 align-self-center">
        <div class="d-flex m-t-10 justify-content-end">
            <div class="d-flex m-r-20 m-l-10 hidden-md-down">
                <div class="chart-text m-r-10">
                    <h6 class="m-b-0"><small>Devices</small></h6>
                    <h4 class="m-t-0 text-success">{{deviceStats.total}} total</h4></div>
            </div>
            <div class="d-flex m-r-20 m-l-10 hidden-md-down">
                <div class="chart-text m-r-10">
                    <h6 class="m-b-0"><small>Simulations</small></h6>
                    <h4 class="m-t-0 text-success-alt">{{deviceStats.simulations}} running</h4></div>
            </div>
        </div>
    </div>
</div>
<!-- ============================================================== -->
<!-- End Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<!-- Row -->
<div class="row">
    <div class="col-lg-4 col-md-12">
        <div class="card card-inverse card-info">
            <div class="card-body">
                <div class="d-flex">
                    <div class="m-r-20 align-self-center">
                        <h1 class="text-white"><i class="mdi mdi-av-timer"></i></h1></div>
                    <div>
                        <h3 class="card-title">Total Simulations</h3>
                        <h6 class="card-subtitle">{{reportMonth}}</h6> </div>
                </div>
                <div class="row">
                    <div class="col-5 align-self-center">
                        <h2 class="font-light text-white">{{reportMonthSims}} runs</h2>
                    </div>
                    <div class="col-7 p-t-10 p-b-20 align-self-center">
                        <div class="usage chartist-chart" style="height:65px"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card card-inverse card-success">
            <div class="card-body">
                <div class="d-flex">
                    <div class="m-r-20 align-self-center">
                        <h1 class="text-white"><i class="mdi mdi-clock-fast"></i></h1></div>
                    <div>
                        <h3 class="card-title">Total Simulation Minutes</h3>
                        <h6 class="card-subtitle">{{reportMonth}}</h6> </div>
                </div>
                <div class="row">
                    <div class="col-5 align-self-center">
                        <h2 class="font-light text-white">{{reportMonthHrs}} min</h2>
                    </div>
                    <div class="col-7 p-t-10 p-b-20 text-right">
                        <div class="spark-count" style="height:65px"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-12">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Simulation Runs</h3>
                <h6 class="card-subtitle">{{reportMonth}}</h6>
                <div id="runs" style="height:260px; width:100%;"></div>
            </div>
            <div>
                <hr class="m-t-0 m-b-0">
            </div>
            <div class="card-body text-center ">
                <ul class="list-inline m-b-0">
                    <li>
                        <h6 class="text-muted">{{simulations.types}} total device types used</h6>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-12">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Device Breakdown</h3>
                <h6 class="card-subtitle">{{reportMonth}}</h6>
                <table class="table browser m-t-30 no-border" style="margin-bottom:0px;">
                    <tbody>
                        <tr *ngFor="let dc of deviceCounts.devices">
                            <td style="width:40px"><span class="round round-light-grey"><i class="mdi mdi-car text-normal"></i></span></td>
                            <td>{{dc.name}}</td>
                            <td class="text-right"><span class="label label-light-info">{{dc.count}}</span></td>
                        </tr>
                        <tr>
                            <!-- <td style="width:40px"><span class="round round-light-grey"><i class="mdi mdi-car text-normal"></i></span></td> -->
                            <td colspan="2" style="font-weight:800">Total Devices</td>
                            <td class="text-right"><span class="label label-light-success-alt">{{deviceCounts.total}}</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- Row -->
<!-- Row -->
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="row">
                <div class="col-lg-9 col-md-7">
                    <div class="card-body">
                        <h3>My simulation minutes (last 6 months)</h3>
                        <h6 class="card-subtitle">{{reportDate}}</h6>
                        <div class="demo-container" style="height:400px;">
                            <div class="sim-hours" style="height: 400px;"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-5 b-l p-l-0">
                    <div class="m-t-30 m-b-40 p-t-20 p-b-20 text-center">
                        <font class="display-3">{{simulations.total}}</font>
                        <h6 class="text-muted">Total Simulation Minutes</h6>
                        <button type="button" class="btn btn-success" (click)="openDevices()">View My Devices</button>
                    </div>
                    <hr>
                    <div class="card-body">
                        <div class="row">
                            <!-- Column -->
                            <div class="col p-r-0">
                                <h1 class="font-light">{{simulations.auto}}<span style="font-size:20px;">min</span></h1>
                                <h6 class="text-muted">Automotive</h6></div>
                            <!-- Column -->
                            <div class="col text-right align-self-center">
                                <div class="round align-self-center round-info"><i class="mdi mdi-car" style="font-size:2em;"></i></div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="card-body">
                        <div class="row">
                            <!-- Column -->
                            <div class="col p-r-0">
                                <h1 class="font-light">{{simulations.generic}}<span style="font-size:20px;">min</span></h1>
                                <h6 class="text-muted">Generic</h6></div>
                                <!-- Column -->
                                <div class="col text-right align-self-center">
                                    <div class="round align-self-center round-success"><i class="mdi mdi-chip" style="font-size:2em;"></i></div>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Row -->
