<!-- ============================================================== -->
<!-- Preloader - style you can find in spinners.css -->
<!-- ============================================================== -->
<!-- <div class="preloader">
    <svg class="circular" viewBox="25 25 50 50">
        <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
</div> -->
<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<div id="main-wrapper">
    <!-- ============================================================== -->
    <!-- Topbar header - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <header class="topbar">
        <nav class="navbar top-navbar navbar-expand-md navbar-light">
            <!-- ============================================================== -->
            <!-- Logo -->
            <!-- ============================================================== -->
            <div class="navbar-header">
                <a class="navbar-brand" [routerLink]="['/securehome']">
                    <!-- Light Logo icon -->
                    <img src="../assets/img/aws_smile.png" alt="homepage" width="30px" class="light-logo" />
                    <!--End Logo icon -->
                    <!-- Logo text -->
                    <span style="color:#fff;line-height:10px;font-size:10px;">
                        <img src="../assets/img/simengine.png" alt="homepage" height="40" class="light-logo" />
                    </span>
                </a>
            </div>
            <!-- ============================================================== -->
            <!-- End Logo -->
            <!-- ============================================================== -->
            <div class="navbar-collapse">
                <!-- ============================================================== -->
                <!-- toggle and nav items -->
                <!-- ============================================================== -->
                <ul class="navbar-nav mr-auto mt-md-0">
                    <!-- This is  -->
                    <li class="nav-item"> <a class="nav-link nav-toggler hidden-md-up text-muted waves-effect waves-dark" href="javascript:void(0)"><i class="mdi mdi-menu"></i></a> </li>
                    <li class="nav-item"> <a class="nav-link sidebartoggler hidden-sm-down text-muted waves-effect waves-dark" href="javascript:void(0)"><i class="ti-menu"></i></a> </li>
                </ul>
                <!-- ============================================================== -->
                <!-- User profile and search -->
                <!-- ============================================================== -->
                <ul class="navbar-nav my-lg-0">
                    <!-- ============================================================== -->
                    <!-- Profile -->
                    <!-- ============================================================== -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user-circle-o"></i></a>
                        <div class="dropdown-menu dropdown-menu-right scale-up">
                            <ul class="dropdown-user">
                                <li>
                                    <div class="dw-user-box">
                                        <div class="u-img" style="text-align:center;font-size:50px;"><i class="fa fa-user-circle"></i></div>
                                        <div class="u-text">
                                            <h4>{{profile.name}}</h4>
                                            <p class="text-muted">{{profile.email}}</p><a href="securehome/profile" class="btn btn-rounded btn-danger btn-sm">View Profile</a></div>
                                    </div>
                                </li>
                                <li role="separator" class="divider"></li>
                                <li><a href="securehome/profile"><i class="ti-user"></i> My Profile</a></li>
                                <li><a href="securehome/devices"><i class="ti-wallet"></i> My Devices</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a [routerLink]="['/securehome/logout']"><i class="fa fa-power-off"></i> Logout</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <!-- ============================================================== -->
    <!-- End Topbar header -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Left Sidebar - style you can find in sidebar.scss  -->
    <!-- ============================================================== -->
    <aside class="left-sidebar">
        <!-- Sidebar scroll-->
        <div class="scroll-sidebar">
            <!-- Sidebar navigation-->
            <nav class="sidebar-nav">
                <ul id="sidebarnav">
                    <li>
                        <a class="waves-effect waves-dark" data-caption="Home" href="securehome"><i class="mdi mdi-home"></i><span class="hide-menu">Home </span></a>
                    </li>
                    <li class="nav-small-cap">MY MENU</li>
                    <li>
                        <a class="waves-effect waves-dark" data-caption="My Dashboard" href="securehome/dashboard"><i class="mdi mdi-gauge"></i><span class="hide-menu">Dashboard </span></a>
                    </li>
                    <li>
                        <a class="waves-effect waves-dark" href="securehome/devices"><i class="mdi mdi-view-module"></i><span class="hide-menu">My Devices </span></a>
                    </li>
                    <li>
                        <a class="waves-effect waves-dark"  href="securehome/profile"><i class="mdi mdi-account-card-details"></i><span class="hide-menu">My Profile </span></a>
                    </li>
                    <li class="nav-small-cap">MODULES</li>
                    <li>
                        <a class="waves-effect waves-dark" href="securehome/general"><i class="mdi mdi-lock-pattern"></i><span class="hide-menu">Widgets </span></a>
                    </li>
                    <li>
                        <a class="waves-effect waves-dark" href="securehome/types"><i class="mdi mdi-chip"></i><span class="hide-menu">Device Types </span></a>
                    </li>
                    <li>
                        <a class="waves-effect waves-dark" href="securehome/automotive"><i class="mdi mdi-car-connected"></i><span class="hide-menu">Automotive </span></a>
                    </li>
                    <li class="nav-small-cap" *ngIf="isAdminUser">ADMINISTRATION</li>
                    <li *ngIf="isAdminUser">
                        <a class="waves-effect waves-dark" href="securehome/admin/users"><i class="mdi mdi-account-multiple"></i><span class="hide-menu">Users </span></a>
                    </li>
                    <li *ngIf="isAdminUser">
                        <a class="waves-effect waves-dark" href="securehome/admin/settings"><i class="mdi mdi-settings"></i><span class="hide-menu">Settings </span></a>
                    </li>
                </ul>
            </nav>
            <!-- End Sidebar navigation -->
        </div>
        <!-- End Sidebar scroll-->
    </aside>
    <!-- ============================================================== -->
    <!-- End Left Sidebar - style you can find in sidebar.scss  -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Page wrapper  -->
    <!-- ============================================================== -->
    <div class="page-wrapper">
        <!-- ============================================================== -->
        <!-- Container fluid  -->
        <!-- ============================================================== -->
        <div class="container-fluid">

            <!-- ============================================================== -->
            <!-- Start Page Content -->
            <!-- ============================================================== -->
            <router-outlet></router-outlet>
            <!-- ============================================================== -->
            <!-- End PAge Content -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Container fluid  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Page wrapper  -->
    <!-- ============================================================== -->
</div>
