<!-- ============================================================== -->
<!-- Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<div class="row page-titles">
    <div class="col-md-5 col-8 align-self-center">
        <h3 id="view-title">{{title}}</h3>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/securehome">Home</a></li>
            <li class="breadcrumb-item"><a href="/securehome/automotive">Fleet</a></li>
            <li class="breadcrumb-item active">Vehicle</li>
        </ol>
    </div>
    <div class="col-md-7 col-4 align-self-center">
        <div class="d-flex m-t-10 justify-content-end">
            <div class="d-flex m-r-20 m-l-10 hidden-md-down">
                <div class="chart-text m-r-10">
                    <h6 class="m-b-0"><small>Devices</small></h6>
                    <h4 class="m-t-0 text-success">{{deviceStats.total}} total</h4></div>
            </div>
            <div class="d-flex m-r-20 m-l-10 hidden-md-down">
                <div class="chart-text m-r-10">
                    <h6 class="m-b-0"><small>Simulations</small></h6>
                    <h4 class="m-t-0 text-success-alt">{{deviceStats.simulations}} running</h4></div>
            </div>
        </div>
    </div>
</div>
<!-- ============================================================== -->
<!-- End Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<!-- Row -->
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <form class="form-horizontal" role="form">
                    <div class="form-body">
                        <h3 class="box-title">Vehicle Details
                            <div class="pull-right" role="group">
                                <button type="button" class="btn btn-success btn-sm" data-toggle="tooltip" title="Start Simulation" *ngIf="device.stage === 'sleeping'"  (click)="startDevice()"><i class="mdi mdi-play"></i> Start</button>
                                <button type="button" class="btn btn-success btn-sm" data-toggle="tooltip" title="Stop Simulation" *ngIf="device.stage === 'hydrated'" (click)="stopDevice()"><i class="mdi mdi-stop"></i> Stop</button>
                                <button type="button" class="btn btn-danger btn-sm" data-toggle="tooltip" title="Delete Widget" *ngIf="device.stage === 'sleeping'"  (click)="deleteDevice()"><i class="mdi mdi-delete-circle"></i> Delete</button>
                                <button type="button" class="btn btn-success btn-sm" data-toggle="tooltip" title="Refresh" (click)="refreshData()"><i class="fa fa-refresh"></i> Refresh</button>
                            </div>
                        </h3>
                        <hr class="m-t-0 m-b-40">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="control-label text-right col-md-3">VIN:</label>
                                    <div class="col-md-9">
                                        <p class="form-control-static">{{device.metadata.vin}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="control-label text-right col-md-3">Simulations:</label>
                                    <div class="col-md-9">
                                        <p class="form-control-static">{{device.runs}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="control-label text-right col-md-3">Status:</label>
                                    <div class="col-md-9">
                                        <p class="form-control-static"><span [class]="device.stage === 'hydrated' ? 'label label-light-success-alt' : (device.stage === 'provisioning' ? 'label label-light-warning' : 'label label-light-danger')">{{device.stage === 'hydrated' ? 'running' : device.stage}}</span></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="control-label text-right col-md-3">Last Sim:</label>
                                    <div class="col-md-9">
                                        <p class="form-control-static">{{formatDate(device.endedAt)}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="control-label text-right col-md-3">Created At:</label>
                                    <div class="col-md-9">
                                        <p class="form-control-static">{{formatDate(device.createdAt)}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="control-label text-right col-md-3">Last Updated:</label>
                                    <div class="col-md-9">
                                        <p class="form-control-static">{{formatDate(device.updatedAt)}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Row -->
<!-- Row -->
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div id='map' style="height: 400px;" *ngIf="!invalidMapboxToken"></div>
                <div class="alert alert-danger" *ngIf="invalidMapboxToken">
                    <h3 class="text-danger"><i class="fa fa-exclamation-circle"></i> Oops! Problem generating map.</h3> Please review the implementation guide and ensure your Mapbox token is configured correctly.
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Row -->
<div class="row">
    <!-- Column -->
    <div class="col-lg-3 col-md-6">
        <div class="card">
            <div class="card-body">
                <h4 class="text-center">Throttle</h4>
                <div class="gaugejs-box">
                    <canvas id="throttle" class="gaugejs">guage</canvas>
                </div>
            </div>
            <div class="box b-t text-center">
                <h4 class="font-medium m-b-0">{{telematics.throttle}} %</h4>
            </div>
        </div>
    </div>
    <!-- Column -->
    <!-- Column -->
    <div class="col-lg-3 col-md-6">
        <div class="card">
            <div class="card-body">
                <h4 class="text-center">Speed</h4>
                <div class="gaugejs-box">
                    <canvas id="speed" class="gaugejs">guage</canvas>
                </div>
            </div>
            <div class="box b-t text-center">
                <h4 class="font-medium m-b-0">{{telematics.speed}} KMH</h4>
            </div>
        </div>
    </div>
    <!-- Column -->
    <!-- Column -->
    <div class="col-lg-3 col-md-6">
        <div class="card">
            <div class="card-body">
                <h4 class="text-center">RPM</h4>
                <div class="gaugejs-box">
                    <canvas id="rpm" class="gaugejs">guage</canvas>
                </div>
            </div>
            <div class="box b-t text-center">
                <h4 class="font-medium m-b-0">{{telematics.engine_speed}} RPM</h4>
            </div>
        </div>
    </div>
    <!-- Column -->
    <!-- Column -->
    <div class="col-lg-3 col-md-6">
        <div class="card">
            <div class="card-body">
                <h4 class="text-center">Oil</h4>
                <div class="gaugejs-box">
                    <canvas id="oil" class="gaugejs">guage</canvas>
                </div>
            </div>
            <div class="box b-t text-center">
                <h4 class="font-medium m-b-0">{{telematics.oil_temp}} &deg;F</h4>
            </div>
        </div>
    </div>
    <!-- Column -->
</div>
<!-- Row -->
<!-- Row -->
<div class="row">
    <!-- Column -->
    <div class="col-lg-3 col-md-6">
        <div class="card">
            <div class="card-body">
                <div class="row p-t-10 p-b-10">
                    <div class="col-12">
                        <h3>{{telematics.transmission_torque}} Nm</h3>
                        <h6 class="card-subtitle">Transmission Torque</h6></div>
                    <div class="col-12">
                        <div class="progress" style="height: 6px;">
                            <div id="torque" class="progress-bar bg-success" role="progressbar" style="height: 6px;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Column -->
    <!-- Column -->
    <div class="col-lg-3 col-md-6">
        <div class="card">
            <div class="card-body">
                <div class="row p-t-10 p-b-10">
                    <div class="col-12">
                        <h3>{{telematics.fuel_level}} %</h3>
                        <h6 class="card-subtitle">Fuel Level</h6></div>
                    <div class="col-12">
                        <div class="progress" style="height: 6px;">
                            <div id="fuel" class="progress-bar bg-primary" role="progressbar" style="height: 6px;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Column -->
    <!-- Column -->
    <div class="col-lg-3 col-md-6">
        <div class="card">
            <div class="card-body">
                <div class="row p-t-10 p-b-10">
                    <div class="col-12">
                        <h3>{{telematics.odometer}} Km</h3>
                        <h6 class="card-subtitle">Odometer</h6></div>
                    <div class="col-12">
                        <div class="progress" style="height: 0px;">
                            <div class="progress-bar bg-primary" role="progressbar" style="height: 0px;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Column -->
    <!-- Column -->
    <div class="col-lg-3 col-md-6">
        <div class="card">
            <div class="card-body">
                <div class="row p-t-10 p-b-10">
                    <div class="col-12">
                        <h3>{{telematics.gear}}</h3>
                        <h6 class="card-subtitle">Transmission Gear</h6></div>
                    <div class="col-12">
                        <div class="progress" style="height: 0px;">
                            <div class="progress-bar bg-primary" role="progressbar" style="height: 0px;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Column -->
</div>
<!-- Row -->
<!-- Row -->
<div class="row">
    <div class="col-lg-12">
        <div class="clearfix" style="margin-bottom:10px;">
            <div class="pull-right" role="group">
                <button type="button" class="btn btn-success btn-sm" data-toggle="tooltip" title="Clear Messages" *ngIf="messages.length > 0" (click)="clearMessages()">Clear</button>
            </div>
        </div>
        <div style="overflow:auto; height:500px;">
            <div class="row" *ngFor="let m of messages">
                <div class="col-lg-12">
                    <div style="background-color: #fff;">
                        <div class="card-body" style="display: flex;">
                            <h4 class="card-title" style="max-width: 400px; white-space: no-wrap; text-overflow: ellipsis; overflow: hidden; font-size: 18px; flex-grow: 1; margin-bottom: 0px;">{{m.topic}}</h4><span style="font-size: 14px; flex-grow: 4;">{{m.timestamp}}</span>
                        </div>
                    </div>
                    <div style="background-color: #eee;">
                        <pre style="margin-left: 15px; margin-right: 15px; color: #002630; margin-bottom:0px; padding: 10px; font-family: 'Source Code Pro', monospace; font-weight: 400;">{{strinifyContent(m.content)}}</pre>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Row -->
